*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bs-gray-400) !important;
}

.section header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em 1em;
  background-color: var(--bs-primary);
  color: var(--bs-light);
}


.section header{
  border-bottom: 1px solid var(--bs-gray-400);
}



.section svg{
  font-size: 1.5rem;
  cursor: pointer;
}

.section .section__body{
  background-color: var(--bs-light);
  padding: 0.75em;
}

.toolTip svg{
   font-size: 14px;
   margin-left: 0.25em;
   color: var(--bs-gray-500);
   cursor: default;
}

.widthLinkCTA{
  top: 75%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(45deg);
  cursor: default;
}